body {
    margin-top:  60px;
}

.capital {
    text-transform: capitalize;
}

#search-box td {
    border:  none;
}

#search-box {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding:  10px;
    background:  #f9f9f9;
    position:  relative;
}