<div ng-controller="SearchCtrl">
    
  <div class="row">
    <div class="col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://srpdoc03/GateCodes/Images/p1.jpg">
      </a>
    </div>
    <div class="col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://srpdoc03/GateCodes/Images/p2.jpg">
      </a>
    </div>
    <div class="col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://srpdoc03/GateCodes/Images/p3.jpg">
      </a>
    </div>
  </div>

  <div class="row">

    <!-- after search results are found, they are displayed here -->
    <div id="results" variable="results" keys="keys" class="col-lg-12" ng-paginate>
      <div>items: {{ items }}</div>
      <div>itemsPerPage: {{ itemsPerPage }}</div>
      <div>currentPage: {{ currentPage }}</div>
      <div>maxPages: {{ maxPages }}</div>
      <table>
        <tr ng-repeat="d in data">
          <td ng-repeat="key in keys">{{ key.field }}</td>
        </tr>
      </table>
      <button ng-click="first()">First</button>
      <button ng-click="prev()">Prev</button>
      <button ng-click="next()">Next</button>
      <button ng-click="last()">Last</button>
    </div>

  </div>

</div>
