<div ng-controller="SearchCtrl">
    
  <!--
  <div class="row">
    <div class="col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://srpdoc03/GateCodes/Images/p1.jpg">
      </a>
    </div>
    <div class="col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://srpdoc03/GateCodes/Images/p2.jpg">
      </a>
    </div>
    <div class="col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://srpdoc03/GateCodes/Images/p3.jpg">
      </a>
    </div>
  </div>
  -->

  <!--
  {{ searchObject }}
  -->

  <!-- search tool -->
  <h1>Search</h1>
  <div search="match" params="searchFields" search-builder></div>

  <!-- paginate search results -->
  <div ng-paginate="page in results">

    <!--
    <div>items: {{ items }}</div>
    <div>itemsPerPage: {{ itemsPerPage }}</div>
    <div>currentPage: {{ currentPage }}</div>
    <div>currentIndex: {{ currentIndex }}</div>
    <div>maxPages: {{ maxPages }}</div>
    <div>{{ pageName }}.length: {{ page.length }}</div>
    -->

    <div class="grid">
      <div class="col-1-4">
        <select style="padding-top: 0; padding-bottom: 0;" class="select" ng-model="itemsPerPage">
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
        <label> items per page</label>
      </div>
      <div class="col-1-2 text-center">
        Matched {{ results.length }} out of {{ data.length }}
      </div>
      <div class="col-1-4 text-right">
        <span>Page <span style="color: #006ea9"><b>{{ currentPage }}</b></span> of <b>{{ maxPages }}</b></span>
      </div>
    </div>

    <!-- actual results table -->
    <div ng-if="maxPages > 0">
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Location</th>
          <th>Address</th>       
          <th>District</th>
          <th>40 Acre</th>
          <th>In Code</th>
          <th>E/W Coords</th>
          <th>N/S Coords</th>
        </tr>
        <tr ng-repeat="p in page">
          <td>{{ p.id }}</td>
          <td>{{ p.location }}</td>
          <td>{{ p.address }}</td>
          <td>{{ p.district }}</td>
          <td>{{ p.forty }}</td>
          <td>{{ p.incode }}</td>
          <td>{{ p.ewcoord }}</td>
          <td>{{ p.nscoord }}</td>
        </tr>
      </table>
    </div>

    <div style="text-align: center; width:  100%;" ng-if="maxPages == 0">
      <div>No Search Results</div>
    </div>

    <div class="grid" style="margin-top: 20px">
      <div class="col-2-3">
        <div class="pagination">
          <button ng-click="first()">First</button>
          <button ng-click="prev()">Prev</button>
          <button ng-click="goto(1)">1</button>
          <button ng-click="next()">Next</button>
          <button ng-click="last()">Last</button>
        </div>
      </div>
      <div class="col-1-3 text-right">
        <span>Page <span style="color: #006ea9"><b>{{ currentPage }}</b></span> of <b>{{ maxPages }}</b></span>
      </div>
    </div>

  </div>

</div>
